
@{
    ViewBag.Title = "Success";
}

<h2>Success!</h2>
<p>Thank you for your inquiry!  Your message has been sent directly to Brian and Christy.</p>
<p>If you asked a question, we will get back to you as soon as possible!</p>

