
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>Something went wrong!  Your message was not delivered.</p>
<p>Please try again, or contact Brian directly on his cell phone #: <strong>(734) 904-4285</strong></p>

