@{
    ViewBag.Title = "Details";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Please join us in celebration of the union of Brian Pratt &amp; Christina Ford.</p>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <strong class="text-right col-md-4">Date</strong>
            <div class="col-md-6">
                <p>Sunday, September 18, 2016</p>
            </div>
        </div>
        <div class="row">
            <strong class="text-right col-md-4">Time</strong>
            <div class="col-md-6">
                <p>Wedding to be held at 11:00am<br />Reception to begin at 11:30am</p>
            </div>
        </div>
        <div class="row">
            <strong class="text-right col-md-4">Location</strong>
            <div class="col-md-6">
                <p>Summit on the Park<br />Banquet and Conference Center</p>
                <p>46000 Summit Pkwy<br />Canton, MI 48188</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 googlemap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.189960521399!2d-83.49500894871757!3d42.2958119470464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b53e5b100bc7f%3A0xa28b40961787a20a!2sSummit+On+the+Park!5e0!3m2!1sen!2sus!4v1453482358044" height="320" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong class="text-right col-md-2">Gift Registry</strong>
        <div class="col-md-6">
            <p>We've had a long time to begin building our life and home together.  Your presence is truly all the gift we need.</p><p>For those who would like to contribute a gift anyway, we have provided a number of options in the space below.</p>
            <ul>
                <li>As we embark on our honeymoon, cash contributions <em>never</em> go out of style...</li>
                <li><a href="https://www.amazon.com/registry/wedding/3NCGRLP9K0V4T">Amazon.com Wedding Registry</a></li>
                <li><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=543207350&eventType=Wedding&pwsurl=">Bed, Bath and Beyond Wedding Registry</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong class="text-right col-md-2">Hotel / Lodging</strong>
        <div class="col-md-6">
            <p>If you are traveling from out of town, we have provided a list of nearby hotels, below.  Each option is located near the I-275 exit, roughly 5 miles from the venue.</p>
            <ul>
                <li><a href="http://www.laquintadetroitcanton.com/">La Quinta Inns & Suites Canton</a></li>
                <li><a href="https://www.choicehotels.com/michigan/canton/comfort-suites-hotels/mi291?source=gglocaljn">Comfort Suites Canton</a></li>
                <li><a href="http://hamptoninn3.hilton.com/en/hotels/michigan/hampton-inn-and-suites-detroit-canton-DTTCNHX/index.html">Hampton Inn & Suites Canton</a></li>
            </ul>
        </div>
    </div>
</div>