@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>Brian Pratt &amp; Christina Ford</h1>
    <p class="lead">Welcome our site, celebrating the wedding of Brian Pratt and Christina Ford.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">RSVP &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Details</h2>
        <p>Please join us on <strong>Sunday, September 18, 2016</strong> for our wedding ceremony, with reception to immediately follow.</p>
        <p>Click the button below for the full set of details, location, and schedule.</p>
        <p>@Html.ActionLink("Learn more »", "Details", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>RSVP</h2>
        <p>If you have received an invitation, please RSVP using the button, below.</p>
        <p>@Html.ActionLink("RSVP »", "Rsvp", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Questions?  Congratulations?  Send us a message using the button, below.</p>
        <p>@Html.ActionLink("Contact »", "Contact", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>