@model BrianChristyWedding.Models.Invitation

@{
    ViewBag.Title = "RSVP";
}
<h2>RSVP</h2>

@if (Model == null)
{
    var shortcode = ViewBag.Shortcode ?? "";
    if (string.IsNullOrWhiteSpace(shortcode))
    {
        <p>Please enter your Attendee Code and click 'Find'</p>
    }
    else
    {
        <h3>Invitation code not found</h3>
        <p>Please check your code and try again.</p>
    }
    <p>
        <form id="formShortcode" class="form-inline">
            <div class="form-group">
                @Html.TextBox("txtShortcode", (string)shortcode, new { @class = "form-control" })
                <input id="btnSubmit" type="submit" value="Find" class="btn btn-primary" />
            </div>
        </form>
        @section scripts {
            <script>
                $(document).ready(function () {
                    $("#formShortcode").submit(function (event) {
                        event.preventDefault();
                        window.location = "/Rsvp/" + $("#txtShortcode").val();
                    });
                });
            </script>   
        }
    </p>
}
else
{
    <h3>Welcome, @Model.Name!</h3>
}

